# Copyright © Advanced Micro Devices, Inc., or its affiliates.
#
# SPDX-License-Identifier: MIT

# Shared
/CODEOWNERS @silogen/resource-manager-owners @silogen/workbench-owners
/.github/ @silogen/resource-manager-owners @silogen/workbench-owners
/apps/api/api_common/ @silogen/resource-manager-owners @silogen/workbench-owners
/apps/ui/shared/ @silogen/resource-manager-owners @silogen/workbench-owners
/docs/ @silogen/resource-manager-owners @silogen/workbench-owners
/tooling/ @silogen/resource-manager-owners @silogen/workbench-owners

# AIRM team (resource-manager-owners): https://github.com/orgs/silogen/teams/resource-manager-owners
/.github/workflows/airm-*.yml @silogen/resource-manager-owners
/apps/agent/ @silogen/resource-manager-owners
/apps/api/airm/ @silogen/resource-manager-owners
/helm/airm/ @silogen/resource-manager-owners
/apps/ui/airm/ @silogen/resource-manager-owners
/apps/api/airm/specs/ @silogen/resource-manager-owners

# AIWB team (workbench-owners): https://github.com/orgs/silogen/teams/workbench-owners
/.github/workflows/aiwb-*.yml @silogen/workbench-owners
/apps/api/aiwb/ @silogen/workbench-owners
/apps/api/workloads_manager/ @silogen/workbench-owners
/apps/ui/aiwb/ @silogen/workbench-owners
/helm/aiwb/ @silogen/workbench-owners
