# Copyright © Advanced Micro Devices, Inc., or its affiliates.
#
# SPDX-License-Identifier: MIT

# Database
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"

# Keycloak
KEYCLOAK_INTERNAL_URL="http://localhost:8080"
KEYCLOAK_ADMIN_CLIENT_ID="your-keycloak-admin-client-id"
KEYCLOAK_ADMIN_CLIENT_SECRET="your-keycloak-admin-client-secret"
KEYCLOAK_REALM="airm"

# RabbitMQ
RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_URL="http://localhost:15672/api"
RABBITMQ_ADMIN_USER="guest"
RABBITMQ_ADMIN_PASSWORD="guest"
RABBITMQ_AIRM_COMMON_VHOST="vh_airm_common"
RABBITMQ_AIRM_COMMON_QUEUE="airm_common"


POST_REGISTRATION_REDIRECT_URL="http://localhost:8010"
PROMETHEUS_URL="http://localhost:9090"
