/*
Copyright © Advanced Micro Devices, Inc., or its affiliates.

SPDX-License-Identifier: MIT
*/

:root {
  --toastify-color-success: hsl(var(--heroui-success));
  --toastify-color-info: hsl(var(--heroui-primary));
  --toastify-color-error: hsl(var(--heroui-danger));
  --toastify-color-warning: hsl(var(--heroui-warning));
  --toastify-toast-min-height: 36px;
  --toastify-toast-padding: 10px;

  --toastify-toast-width: auto;

  --toastify-background-error: hsl(var(--heroui-danger-200));
  --toastify-text-error: hsl(var(--heroui-danger));
  --toastify-background-warning: hsl(var(--heroui-warning-50));
  --toastify-text-warning: hsl(var(--heroui-warning));
}

.Toastify__toast {
  min-width: 400px;
  max-width: 600px;
}
