# Copyright © Advanced Micro Devices, Inc., or its affiliates.
#
# SPDX-License-Identifier: MIT

# Standalone mode configs
STANDALONE_MODE=true
DEFAULT_NAMESPACE=workbench

# AIRM UI
NEXTAUTH_SECRET="something-random"
KEYCLOAK_ID="your-keycloak-client-id"

# For local connection
NEXTAUTH_URL=http://localhost:8011
KEYCLOAK_SECRET="your-keycloak-client-secret"
AIRM_API_SERVICE_URL=http://localhost:8002
KEYCLOAK_ISSUER=http://localhost:8080/realms/airm
